count {
	font-size: 40px;
}
count2 {
	font-size: 40px;
}
count3 {
	font-size: 40px;
}
count4 {
	font-size: 40px;
}
count5 {
	font-size: 40px;
}
count6 {
	font-size: 40px;
}
count7 {
	font-size: 40px;
}
count8 {
	font-size: 40px;
}
count9 {
	font-size: 40px;
}


.float {
    animation: float 3s infinite ease-in-out; /* フロートアニメーションを3秒ごとに無限に繰り返し、イージングを適用 */
}

/* フロートアニメーションのキーフレーム定義 */
@keyframes float {
    0%, 100% { /* 開始と終了時に要素をそのままにする */
        transform: translateY(0);
    }
    50% { /* アニメーションの半分の時間、要素を上方向に10ピクセル移動 */
        transform: translateY(-10px);
    }
}
